* {
  box-sizing: border-box;
}

body{
  cursor: pointer;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img {
  width: 35%;
  height: 35%;
}

.parallax-elements {
  display: flex;
  flex-direction: column-reverse;
  border: 5px solid black;
  align-items: center;
  justify-content: center;
}

.container-1 {
  margin-left: 20%;
  max-width: 600px;
  border: 5px solid green;
}
/* .container--offset {
  margin: 50px; } */

.container-2 {
  margin-left: 20%;
  max-width: 600px;
  border: 5px solid blue;
}

.container-3 {
  margin-left: 20%;
  max-width: 600px;
  border: 5px solid orange;
}
