* {
  box-sizing: border-box;
}

body{
  cursor: pointer;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img {
  width: 50%;
  height: 50%;
}

.scene .scene-2 .scene-3 {
  margin: 30px;
  padding: 30px;
}

.container-1 {
  margin-left: 150px;
  max-width: 600px;
  padding: 0px;
  position: bottom;
}
.container--offset {
  margin-left: 50px; }

.container-2 {
  margin: 50px;
  padding: 5px;
  max-width: 600px;
  position: relative;
}

.container-3 {
  margin: 0px;
  padding: 0px;
  top: 30px;
}
